/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
}

/* Regresar */
header {
    background-color: #0C4B33;
    color: #fff;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    box-shadow: #a0a0a0;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: #44B78B;
    font-size: 16px;
    padding: 0 1.5rem;
    display: block;
    margin: 0;
}

header nav a{
    font-size: 40px;
}

nav a:hover, nav p:hover {
    color:#0C4B33;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #F8F8F8;
    color: #fff;
    box-shadow: 2px 4px 15px #b7c2bf;
}

/* Mensaje */
.forma {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
    justify-content: space-around;
}

select {
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #F8F8F8;
    cursor: pointer;
}

label {
    font-size: 19px;
    color: #8CA59F;
}

select:focus {
    border-color: #73a197;
    outline: none;
}

/* Aviso de privacidad */
.politica{
    text-align: center;
    color: #b7c2bf;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

/* Botón */
button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #44B78B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.enviar{
    padding-top: 10px;
    text-align: center;
    justify-content: center;
}

button:hover {
    background-color: #59cea1;
}

::placeholder{
    color: #8CA59F;
}

/* Politica de privacidad */

.pp{
    background: #F8F8F8;
    padding: 40px;
    margin: auto;
    margin-top: 60px;
    font-family: 'calibri';
    color: #0C4B33;
}

.pp h2 {
    font-size: 40px;
    margin-bottom: 15px;
    color: #267557;
}

.pp ul{
    list-style: circle inside none;
}