/* Área del header */
header {
    background-color: #092E20;
    color: #fff;
    padding: 10px;
    font-family: Arial, sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

nav a, nav p {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    display: block;
    margin: 0;
}

nav a:hover, nav p:hover {
    text-decoration: underline;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
}

.dropdown-content a, .dropdown-content p {
    color: #092E20;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover, .dropdown-content p:hover {
    background-color: #ddd;
}

/* Mostrar el dropdown al pasar el mouse */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
}

.dropdown-content a {
    color: #092E20;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Mostrar el dropdown al pasar el mouse */
.dropdown:hover .dropdown-content {
    display: block;
}

/* estilo de la tabla */

table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    table-layout: fixed;
    width: 20%;
    border-radius: 20px;
    border: 3px solid #092E20;
}

/* Estilo del texto */

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
    padding-right: 45%;
}

.left {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 45%;
    padding-right: 25px;
}

.cent {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 15%;
    padding-right: 25px;
}

/* estilo titulos */

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    text-align: center;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
}

.lft {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 45%;
    padding-right: 20px;
}
h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* estilo lista */

.ventajas-desventajas {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ventajas-desventajas h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #092E20;
}

.ventajas-desventajas ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 10px;
}

.ventajas-desventajas ul ul {
    list-style-type: circle;
    margin-left: 20px;
    padding-left: 10px;
}

.ventajas-desventajas li {
    margin-bottom: 10px;
    line-height: 1.5em;
}

.ventajas-desventajas hr {
    border: 0;
    height: 1px;
    background: #092E20;
    margin: 20px 0;
}

/* Línea horizontal */
hr {
        border: 0;
        border-top: 3px solid #092E20;
        margin: 30px 0;
}

/* imagen index */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* estilo pagina CRUD */

div.Pasos {
    text-align: center;
}

/* Contenedor de la imagen */
.image-container {
    position: relative;
    display: inline-block;
}

/* Estilos para la imagen */
.image-container img {
    display: block;
    width: 100%;
    height: auto;
    padding-left: 20%;
}

/* Lista de información */
.info-list {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    width: 200px;
}

.info-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info-list li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.info-list li:last-child {
    border-bottom: none;
}


.image-container:hover .info-list {
    display: block;
}


/* imagen us */

.ab {
    width: 300px;
    height: auto;
}



/* estilo pagina contacto */

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.contenedor {
    width: 400px;
    background: #F8F8F8;
    padding: 30px;
    margin: auto;
    margin-top: 75px;
    border-radius: 4px;
    font-family: 'calibri';
    color: #44B78B;
    box-shadow: 7px 13px 37px #0C4B33;
}

.contenedor h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.controls {
    width: 100%;
    background: #F8F8F8;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 0.5px solid #8CA59F;
    font-family: 'calibri';
    font-size: 18px;
    color: #0E1117;
}

.contenedor p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.contenedor a {
    color: #a0a0a0;
    text-decoration: none;
}

.contenedor a:hover {
    color: #5d9185;
    text-decoration: underline;
}

.contenedor .botons {
    width: 100%;
    background: #063721;
    border: none;
    padding: 12px;
    color: #b7c2bf;
    margin: 16px 0;
    font-size: 16px;
}



/* Mensaje */
.forma {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
    justify-content: space-around;
}

select {
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #F8F8F8;
    cursor: pointer;
}

label {
    font-size: 19px;
    color: #8CA59F;
}

select:focus {
    border-color: #73a197;
    outline: none;
}


/* Aviso de privacidad */
.politica{
    text-align: center;
    color: #b7c2bf;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}



/* Botón */
button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #44B78B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.enviar{
    padding-top: 10px;
    text-align: center;
    justify-content: center;
}

button:hover {
    background-color: #59cea1;
}

::placeholder{
    color: #8CA59F;
}


/* Politica de privacidad */

.pp{
    background: #F8F8F8;
    padding: 40px;
    margin: auto;
    margin-top: 60px;
    font-family: 'calibri';
    color: #0C4B33;

}

.pp h2 {
    font-size: 40px;
    margin-bottom: 15px;
    color: #267557;
}

.pp ul{
    list-style: circle inside none;
}

/* pagina recursos */

embed {
    width: 80%;
    height: 600px;
    padding-left: 20%;
}